.page-title {
  margin-bottom: 4rem;
}

.page-title-optional-main,
.page-title-main {
  font-weight: 300;
  font-size: 35px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}

.page-title-optional-title {
  font-size: 35px;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}
