.mc-answer-container {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  font-size: 1rem;
  margin-top: 1em;
}

.mc-answer-container > .mc-answer-wrapper {
  // flex: 0 0 25%;
  margin: 5px;
  font-size: 15px;
}

.mc-answer-checkbox {
  margin-right: 8px;
  margin-bottom: 6px;
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.21);
}
.mc-answer-checkbox:checked {
  background-color: grey;
}
