.patient-card {
  padding: 2rem;
  box-shadow: $card-shadow;
  text-align: left !important;
  background: $white;
  margin-bottom: 1.5rem;
}
.patient-card:hover {
  cursor: pointer;
  box-shadow: $card-shadow-hover;
}

.patient-card-title {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.33px;
  margin-bottom: 1rem;
}

.patient-card-attributes-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.patient-card-attribute {
  display: flex;
  flex-direction: row;
}

.patient-card-attribute:not(:first-child) {
  margin-left: 2rem;
}

.patient-card-attributes-text {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1.11px;
  text-align: center;
  margin-left: 1rem;
}
